
.App {
    text-align: center;
    margin: 0;
    padding: 0;
}
.eventLaunchBar{
    display:flex;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

    display: flex;
    justify-content: center;
}

    padding: 30px;
}

    margin: 20px;
}

}

    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

myEvent{
    margin-left:10px;
    color: #2e9384;
}
